@media only screen and (min-width: 640px) {
    body {
        overflow-x: hidden;
    }
    body > .container {
        max-width: unset;
        left: -100px;
    }
    
    #left-sidebar {
        left: 0px;
        transition: all .1s cubic-bezier(.22,.61,.36,1);
        border-right: 1px solid white;
        opacity: 0.3;
    }
    #left-sidebar:hover {
        left: 100px;
        opacity: 1;
    }
    
    #sidebar {
        position: absolute;
        top: 0px;
        right: -300px;
        z-index: 10;
        transition: all .1s cubic-bezier(.22,.61,.36,1);
        padding: 10px;
        opacity: 0.3;
    }
    #sidebar:hover {
        right: -100px;
        opacity: 1;
    }
    
    #content {
        width: calc(100% - 150px);
        max-width: unset;
        border: none;
    }
    
    #mainbar {
        width: 100%;
    }
}
